<div class="h-full bg-[var(--card-bg)] rounded-lg w-13 flex flex-col justify-center items-center gap-2">
  @for(item of menuItems; track item.name) {
    <a routerLink="{{item.routerLink}}" routerLinkActive="active" class="flex justify-center items-center text-[var(--primary)] border border-[var(--background)] text-lg hover:bg-[var(--background)] hover:text-[var(--neutral-text)] transition duration-300 ease-in-out p-10 rounded-full">
    <i class="pi {{item.icon}} text-sm"></i>
  </a>
  }
</div>
