.layout {
  background-color: var(--background);
  width: 100%;
  height: 100vh;
  display: grid;
  justify-content: center;
  grid-template-areas:
    "sidebar-left topbar"
    "sidebar-left content"
    ;
  grid-template-columns: minmax(auto, 250px) minmax(auto, 1440px);
  grid-template-rows: var(--topbar-height) auto;
  column-gap: var(--row-gap);
}

.layout.sidebar-closed {
  grid-template-columns: 52px minmax(auto, 1440px);
}

.content {
  display: flex;
  background-color: var(--card-bg);
  grid-area: content;
  height: var(--body-height);
  padding: 0 8px;
}

