@if(isOpen) {
<div class="fixed inset-0 z-[2000] flex items-center justify-center backdrop-blur-sm bg-black/30">
  <div class="relative w-[90%]] md:w-[400px] bg-[var(--card-bg)] rounded-lg shadow-2xl overflow-hidden" role="dialog" aria-modal="true" aria-labelledby="modal-title" aria-describedby="modal-description">
    <div class="absolute inset-0 z-0 pointer-events-none">
      <svg class="w-[450px] h-full" viewBox="0 0 500 200" preserveAspectRatio="none">
        <defs>
          <linearGradient id="waveGradient" x1="0%" y1="0%" x2="100%" y2="0%">
            <stop offset="0%" stop-color="var(--primary)" />
            <stop offset="45%" stop-color="var(--card-bg)" />
            <stop offset="55%" stop-color="var(--card-bg)" />
            <stop offset="100%" stop-color="var(--primary)" />
          </linearGradient>
        </defs>
        <g class="wave" fill="url(#waveGradient)">
          <path d="M0,30 C150,80 350,0 500,50 L500,0 L0,0 Z" opacity="0.4"></path>
          <path d="M0,50 C150,100 350,20 500,60 L500,0 L0,0 Z" opacity="0.6"></path>
          <path d="M0,70 C150,120 350,40 500,70 L500,0 L0,0 Z" opacity="0.8"></path>
        </g>
      </svg>
    </div>
    <div class="relative z-10 rounded-lg p-20 flex flex-col items-center justify-center gap-5 text-center">
      <i class="{{ icon }} text-4xl rounded bg-transparent] p-mini-users {{ type === 'info' ? 'text-[var(--info)]' : type === 'success' ? 'text-[var(--success)]' : type === 'warning' ? 'text-[var(--warning)]' : type === 'error' ? 'text-[var(--error)]' : 'text-[var(--neutral-text)]'}}"></i>
      <h2 class="text-roboto text-[var(--neutral-text)]">{{ title.toLocaleUpperCase() }}</h2>
      <div class="w-full p-mini flex justify-center items-center gap-3">
        <p class="text-poppins text-[var(--neutral-text)]">{{ message }}</p>
      </div>
      <div class="flex justify-center gap-3">
        <button class="btn secondary" (click)="onCancel()">{{ cancelText }}</button>
        <button class="btn primary" (click)="onConfirm()" autofocus #confirmBtn>{{ confirmText }}</button>
      </div>
    </div>
  </div>
</div>
}
