/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "primeicons/primeicons.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// Light Theme
:root {
  --primary: #5F1D95;
  --secondary: #7C4DFF;
  --alert: #7C4DFF;
  --info: #00C4D8;
  --accent: #00DCF5;
  --neutral-bor: #d5dae0;
  --neutral-hv: #F1F5F9;
  --neutral-text: #1E293B;
  --neutral-text-two: #F8FAFC;
  --neutral-bg: #F8FAFC;
  --card-bg: #FFFFFF;
  --placeholder: #6B7280;
  --danger: #EF4444;
  --warning: #F59E0B;
  --success: #10B981;
  --background: #b9c1c7;
  --slider: linear-gradient(180deg, #5F1D95 0%, #F8FAFC 50%, #5F1D95 100%);

  --topbar-height: 70px;
  --body-height: calc(100vh - var(--topbar-height) - 8px);
}

// Dark Theme
[data-theme="dark"] {
  --primary: #8B5CF6;
  --secondary: #7C4DFF;
  --alert: #7C4DFF;
  --info: #06B6D4;
  --accent: #06B6D4;
  --neutral-bor: #334155;
  --neutral-hv: #334155;
  --neutral-text: #F8FAFC;
  --neutral-text-two: #1E293B;
  --neutral-bg: #1E293B;
  --card-bg: #0F172A;
  --placeholder: #6B7280;
  --danger: #EF4444;
  --warning: #FBBF24;
  --success: #34D399;
  --background: #334155;
  --slider: linear-gradient(180deg, #5F1D95 0%, #F8FAFC 50%, #5F1D95 100%);
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.custom-slider-bg {
  background-image: var(--slider);
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  font-weight: 600;
  font-family: 'Roboto', sans-serif;
}

p {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

label {
  font-family: 'Roboto', sans-serif;
}

.text-roboto {
  font-family: 'Roboto', sans-serif;
}

.text-poppins {
  font-family: 'Poppins', sans-serif;
}

.p-section {
  padding: 8px;
}

.px-8 {
  padding: 0 8px;
}

.p-main-section {
  padding: 20px;

  @media (max-width: 768px) {
    padding: 10px;
  }
}

.p-mini {
  padding: 5px;
}

.p-10 {
  padding: 10px;
}

.p-20 {
  padding: 20px;
}

.pr-8 {
  padding-right: 2.1rem;
}

.mt-table {
  margin-top: 5px;
}

.mx-2 {
  margin-left: 4px;
  margin-right: 4px;
}

.p-mini-users {
  padding: 2px;
}

label {
  margin-left: .8rem;
}

.p-input {
  padding: .5rem .8rem;
}

input {
  padding: .5rem .8rem;
  background-color: var(--neutral-bor);
  font-family: 'Poppins', sans-serif;
  font-size: .8rem;
  font-weight: 400;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

button {
  cursor: pointer;
  padding: .6rem .8rem;
  font-family: 'Poppins', sans-serif;
  font-size: .8rem;
}

.custom-theme {
  padding: 0;
  font-size: auto;

  &:hover {
    transform: scale(1.1);
  }
}

button:disabled {
  opacity: 0.6;
  pointer-events: none;
}

.active {
  background-color: var(--neutral-bor);
  color: var(--neutral-text);
}

@keyframes waveAnimation {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-20px);
  }
}

.wave path {
  animation: waveAnimation 6s ease-in-out infinite alternate;
}

.btn {
  cursor: pointer;
  padding: .6rem .8rem;
  font-family: 'Poppins', sans-serif;
  font-size: .8rem;
  border: none;
  outline: none;
  border-radius: 4px;
  transition: all 0.3s ease;

  &.primary {
    background-color: var(--primary);
    color: #FFF;

    &:hover {
      background-color: var(--secondary);
    }

  }

  &.secondary {
    background-color: var(--neutral-bg);
    color: var(--secondary);
    border: 1px solid var(--secondary);

    &:hover {
      background-color: var(--secondary);
      color: #FFF;
    }

  }

}

.scrollbar-class {
  overflow: auto;

  &::-webkit-scrollbar {
    width: 8px;
  }

}

input[type="checkbox"] {
  width: 20px !important;
  height: 20px !important;
  appearance: none;
  -webkit-appearance: none;
  background-color: var(--card-bg);
  border: 2px solid var(--neutral-bor);
  border-radius: 6px;
  cursor: pointer;
  position: relative;
  transition: all 0.2s ease-in-out;
}

/* Hover */
input[type="checkbox"]:hover {
  border-color: var(--secondary);
  background-color: var(--neutral-hv);
}

/* Estado activo */
input[type="checkbox"]:checked {
  background-color: var(--secondary);
  border-color: var(--primary);
}

/* Icono de check personalizado */
input[type="checkbox"]:checked::after {
  color: var(--neutral-text-two);
  position: absolute;
  top: 0;
  left: 3px;
}
