@import "tailwindcss";

select,
::picker(select) {
  appearance: base-select;
  padding: .3rem .8rem;
  border-radius: 8px;
  border: 2px solid var(--neutral-bor);
  background: var(--background);
  overflow: auto;
}

select,
::picker::-webkit-scrollbar {
  width: 8px;
}

select,
::picker-icon {
  color: var(--neutral-text);
}

select,
::picker(select):hover {
  cursor: pointer;
}

option {
  padding: 0.5rem;
  border-radius: 8px;
  color: var(--neutral-text)
}

option:hover {
  background: var(--card-bg);
}

::picker(select) {
  padding: 0.5rem;
  border-color: var(--secondary);
  border-radius: 8px;
}
